body {
	background-color: #242582;
}

h1 {
	color: white;
	font-family: serif;
	font-size: 50px;
	padding-left: 30%;
	padding-right: 30%;
} 

p {
	color: white;
	font-family: Arial;
	padding-left: 30%;
	padding-right: 30%;
}