@import url('https://fonts.googleapis.com/css?family=Anton|Crimson+Text&display=swap');

* {
	padding:0;
	margin: 0;
}

body {
	background-image: url("../images/background3.jpg");
  	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
}

main {
	padding-left: 50px;
	padding-top: 120px;
	padding-bottom: 100px;
}

h1 {	
	font-family: 'Anton', sans-serif;
	font-size: 70px;
	color: #daa03b;
}

h2 {
	font-family: 'Anton', sans-serif;
	font-weight: normal;
	font-size: 17px;
	color: #fff;
}

#slogan {
	font-family: "Arial", serif;
	font-weight: bold;
	font-size: 20px;
}

p {
	font-family: 'Crimson Text', serif;
	font-size: 17px;
	color: #181818;
}

ul {
	font-family: Arial, serif;
	font-size: 17px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 30px;
}

h1, h2, p, #slogan, section {
	padding: 10px;
	padding-bottom: 10px;
	padding-right: 500px;
}

a {
	background-color: #daa03b;
	border-radius: 30px;
	text-decoration: none;
	color: #ffffff;
	padding: 10px 30px;
	font-size: 15px;
	font-family: "Arial";

}

.skills {
	padding-bottom: 30px;
}








