@import url('https://fonts.googleapis.com/css?family=Anton|Crimson+Text&display=swap');

* {
	padding:0;
	margin: 0;
}

#container {
	width: 90%;
	font-size: 16px;
}

header {
	background: url("../images/background3.jpg");
  	background-size: cover;
   	background-repeat: no-repeat;
   	padding:150px 100px 150px 100px;
	
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 10px;
}

nav a{
	background-color: #daa03b;
	border-radius: 30px;
	text-decoration: none;
	color: #ffffff;
	margin: 1em 1em 0 0;
	padding: 10px 30px;
	font-size: 15px;
	font-family: "Arial";
	display: inline-block;
}

footer {
	background-color: #194980;
	border: 1px black solid;
	padding: 20px;
}

#two_column {
    background-color: #fff;
    border: none;
    padding: 20px;
}

#left {
    background-color: #fff;
    border: none;
    text-align: center;
    padding: 20px;
    float: left;
    width: 46%;
}

#right {
    background-color: #fff;
    border: none;
    text-align: center;
    padding: 20px;
   	float: right;   
    width: 46%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

h1 {	
	font-family: 'Anton', sans-serif;
	font-size: 4.375em;
	color: #daa03b;
}

h2 {
	font-family: 'Anton', sans-serif;
	font-weight: normal;
	font-size: 1.2em;
	color: #fff;
}


h3 {
	font-family: 'Anton', sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	color: #daa03b;
}

p {
	font-family: 'Crimson Text', serif;
	font-size: 1.2em;
	color: #181818;
	width: 70%
	text-align: center;
}

hr {
	display: block;
  	margin-top: 0.5em;
 	margin-bottom: 3em;
  	border-width: 1px;
  	border-style: dotted;
  	color: grey;
}

@media only screen and (max-width: 1038px) {
	#left {
		float: none;
		width: auto;
	}

	#right {
		float:none;
		width: auto;
	}
}










