* {
	padding:0;
	margin: 0;
}


body {
	padding:30px;
	margin-top: 30px;
  	background: url("/../images/background website.jpg");
  	background-size: cover;
}

h1 {
	font-family: "Arial", serif;
	font-size: 30px;
}

#slogan {
	font-family: "Arial", serif;
	font-style: italic;
}

p {
	font-family: Arial, serif;
	font-size: 15px;
}

ul {
	font-family: Arial, serif;
	font-size: 15px;
}

.btn {
	border: solid 2px #ffffff;
	background: none;
	border-radius: 50px;
	padding:10px 20px;
	font-size: 15px;
	font-family: "Arial", serif;
	margin: 10px;
}




