body {
	padding:0;
	margin:0;
  	background: url("images/background website.jpg");
  	background-size: cover;
}

h1 {
	font-family: "Arial", serif;
	font-size: 30px;
	padding-left: 20px;	
}

#slogan {
	font-family: "Arial", serif;
	font-style: italic;
	font-size: 20px;
}

p {
	font-family: Arial, serif;
	font-size: 15px;
	padding-left: 20px;
}

ul {
	font-family: Arial, serif;
	font-size: 15px;
}

.btn{
	border:1px solid #ffffff;
	background: none;
	padding:10px;
	font-size: 10px;
	font-family: "Arial", serif;
	cursor: pointer;
	margin: 10px;
}




